<h1>Api</h1>

<ul class="list-group">
    <li (click)="onClick()"  *ngFor="let mensaje  of mensajes | async" class="list-group">
        <h1>{{mensaje.title}}</h1>
<p>{{mensaje.body}}</p>
    </li>


</ul>
